.video-sidebar{
    position: absolute;
    top: 45%;
    right: 10px;
    color: white;
}

.video-sidebar-options{
    padding: 20px;
    text-align: center;
}

/* tela para celular */
@media only screen and (max-width: 440px){
    .video-sidebar{
        top: 46%;
    }
}